.navbar{
    background-color: var(--yellow-theme-nav-background-color);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 3;
}
.navbar__container{
        display: flex;
        align-items: center;
        width: 100%;
        
        height: inherit;
        padding: 0px 20px;
        flex: 1;
}
 .navbar__container__logo{
            color: var(--yellow-theme-main-color);
            cursor: pointer;
        }

.navbar__container__menu{
            display: flex;
            list-style: none;
            align-items: center;
            text-decoration: none;
            
}
.nav-icon{
    display: none;
}


.navbar__container__menu__item{
                line-height: 40px;
                margin-right: 1.5rem;
                font-size: 1.6rem;
}

                .navbar__container__menu__item::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }

                .navbar__container__menu__item:hover::after{
                    width: 100%;
                    background: var(--yellow-theme-main-color);
                }

                .navbar__container__menu__item__links{
                    color: var(--yellow-theme-main-color);
                    text-decoration: none;
                    padding: 0.5rem;
                }
            
.nav-icon{
    display: none;
}

@media only screen and (max-width : 768px){
    .navbar__container__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 50px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 3;
    }
    .navbar__container__menu__item{
        border-bottom: 1px solid #000;
        margin: 0px;
        padding: 20px 0px;
        z-index: 3;
    }
    .active{
        background: #000;
        left: 0px;
        opacity: 1;  
        z-index: 3;
    }
    .nav-icon{
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }
} 